

body {
 background: pink;
  margin: 0px auto;
  text-align: center;
  font-size: 10px;
}



.app {
 
}

.mapContainer {
   width: 400px;
   height: 400px;
   margin: 100px;
}

.quakeContainer {

}

.rows {

}
